<div class="row mt-5 pt-5" style="height:260px">
    <div class="col-lg-12 bluesapphire d-flex flex-wrap justify-content-center align-items-center mobile">

        <div class="col-lg-6  d-flex justify-content-lg-around text-white flex-wrap ">
            {% for i in navigation %}
                <div class="col-lg ">

                    <nav class="navbar navbar-expand-sm navbar-light">

                        <a href="{{ i[1] }}" class="navbar-brand text-white"
                           style="font-family:  Tahoma, Verdana, Helvetica, Arial, sans-serif">{{ i[0] }}</a>


                    </nav>

                </div>
            {% endfor %}
        </div>


        <div class="col-lg-4  d-flex justify-content-lg-around text-white">
            {% for socialmedia in socialicons %}
                <div class="col-lg ">

                    <nav class="navbar navbar-expand-sm navbar-light ">
                        <a href="{{ socialmedia[1] }}" class="navbar-brand " style="color: white"><i
                                class="fa fa-{{ socialmedia[0] }}" aria-hidden="true"></i></a>
                    </nav>

                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{#<footer>#}
{#<div class="row">#}
{#<div class="col-lg-6">#}
{# <div class="navleft ">{% for i in navigation %}<a href="{{ i[1] }}" class="navstyle">{{ i[0] }}</a>{% endfor %}</div>#}
{#</div>#}
{#<div class="col-lg-6">#}
{#        <div class="navright">{% for socialmedia in socialicons %}<a href="{{ socialmedia[1] }}" class="navstyle1"><i class="fa fa-{{ socialmedia[0] }}" aria-hidden="true"></i></a>{% endfor %}</div>#}
{#</footer>#}
{#</div>#}
{##}
{#</div>#}
{##}
{#</div>#}
{#<script src="../static/plugins/js/bootstrap.min.js"></script>#}
{#<script src="../static/plugins/js/jquery.min.js"></script>#}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>