{% include 'header.html' %}
<script src="https://cdn.tiny.cloud/1/m2537qqzn2ope226226jnrtj7xxd3eguzewss1l2e59j42at/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

<form class="contact-form" action="/newsmail" method="post">
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="subject" value="" placeholder="Subject" class="form-control">
        </div>
        <div class="col-md-12">
            {% include 'mytinyeditor.html' %}
            <button type="submit" name="button" class="btn">Submit Message</button>
        </div>
    </div>
</form>


{% include 'footer.html' %}